@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Raleway";
  position: relative;
  height: 100%;
}

header {
  background-color: #c80000;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}

.titre {
  display: flex;
  align-items: center;
}

.span-h1 {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 400;
}

.typing {
  display: inline-block;
}

.typing h1 {
  color: whitesmoke;
  font-size: 3rem;
  padding: 5px 10px 10px 20px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(50);
}

@keyframes typing {
  from {
    width: 0;
  }
}

header h2 {
  background-color: #666;
  color: whitesmoke;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 10px;
}

header h2 span {
  font-style: italic;
}

main {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  padding: 20px 30px;
  min-height: 100%;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 500px;
  border: 1px #ccc solid;
  padding: 5px;
  border-radius: 5px;
}

article:hover {
  box-shadow: #666 0px 3px 8px;
  transform: scale(1.02);
}

figure img {
  width: 100%;
}

figcaption {
  color: #ccc;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: #ccc 1px solid;
  margin: 5px 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

article h2 {
  margin-left: 5px;
}

article p {
  margin-left: 5px;
  font-size: 0.9rem;
}

.panier {
  display: flex;
  justify-content: space-between;
  background-color: #c80000;
  color: whitesmoke;
  padding: 20px;
  font-size: 0.9rem;
  font-weight: 200;
  max-height: 18px;
  border-radius: 5px;
}

.panier a {
  color: whitesmoke;
}

.panier:hover {
  background-color: #ff1a1a;
}

.panier:hover a {
  display: none;
}

.panier i {
  display: none;
}

.panier:hover i {
  display: inline;
  margin-right: 90px;
}

.prix {
  font-weight: bold;
}

.old-prix {
  text-decoration: line-through;
  margin-left: 20px;
}

.cercle {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #666;
  border: #ccc 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

article:hover .cercle {
  animation: rotate 2s ease-out;
}

@keyframes rotate {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 40deg;
    scale: 1.2;
  }
  75% {
    rotate: -40deg;
    scale: 1.2;
  }
  100% {
    rotate: 0deg;
  }
}

.reduc {
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: bold;
}

.label {
  position: fixed;
  top: 40%;
  left: 0;
  background-color: #c80000;
  height: 110px;
  width: 30px;
  padding-left: 10px;
  border-radius: 0 5px 5px 0;
  color: whitesmoke;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  z-index: 1;
  animation: inLeft 3s ease-out 1s 1 normal none;
}

@keyframes inLeft {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(-68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

.label span {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
footer {
  background-color: #666;
  position: static;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

footer p {
  color: whitesmoke;
  text-align: center;
  padding: 2px 0 15px 0;
}

.deco {
  padding-bottom: 2px;
  height: 10px;
  background-image: url(images/deco.png);
}
